@font-face {
  font-family: dontPanic;
  src: url(../fonts/KernelPanicNbp-LyG3.ttf);
}

@font-face {
  font-family: edgeOfTheGalaxy;
  src: url(../fonts/EdgeOfTheGalaxyRegular-OVEa6.otf);
}

@font-face {
  font-family: terminess;
  src: url(../fonts/Terminess_mono_NF.ttf);
}

@font-face {
  font-family: sourceCode;
  src: url(../fonts/SourceCodePro-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sourceCode;
}

span{
  color: azure;
  font-size: 32px;
}

a{
  color: azure;
  font-size: 32px;
  text-decoration: none;
}

.container{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: var(--dark-bg);
}

svg{
  position: absolute;
  height: 100%;
}

.lines {
  opacity: 0.05; 
}

.line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4C3A90; }

.lights {
  opacity: 0.9;
}

.light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #7A6BB5; }


.spacer{
  height: 2rem;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  border-radius: 8px;
  border: none;
}