body,html{
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

div{
    border: 1px solid red;
    padding-left: 128px;
    padding-right: 128px;
}

img{
    max-width: 100%;
    border-radius: 8px;
}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.page-container div{
    flex-grow: 1;
    padding: 4px;
}

.main-container,
.info-container,
.quote-container,
.subscribe-container{
    display: flex;
    flex-direction: column;
}

.main-container{
    background-color: var(--dark-bg);
    color: white;
}


.main-container .header-container{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    flex:1;
}

.main-container .description-container{
    display: flex;
    border: 1px solid blue;
    flex: 2;
}

.info-container .random-info-container{
    border: 1px solid blueviolet;
    flex: 1;
    display: flex;
    justify-content: center;
}

.info-container .img-container{
    border: 1px solid blueviolet;
    flex: 4;
    display: flex;
    justify-content: space-between;
    
}

.images{
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-item{
    border: 1px solid #3882F6;
    border-radius: 8px;
}

.img-description{
    border: 1px solid #3882F6;
}

.quote-container .sentence-container,
.quote-container .origin-container{
    border: 1px solid black;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}

.quote-container .sentence-container{
    flex: 2;
    justify-content: center;
    align-items: flex-end;
}

.quote-container .origin-container{
    flex:1;
    justify-content:flex-end;
    align-items: flex-start;
    padding-top: 0;
}
.subscribe-container .signup-container{
    border:1px solid green;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.header-logo{
    display: flex;
    border: 1px solid orange;
    align-items: flex-start;
    color: #F9FAF8;
    font-size: 24px;
}

.header-links{
    display: flex;
    border: 1px solid orange;
    justify-content: space-between;
    font-size: 18px;
    color: var(--header-link);
}

.website-description{
    border: 1px solid greenyellow;
}


.website-description h2{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.website-description p{
    font-size: 18px;
    color: var(--header-link);
}

.website-image{
    border: 1px solid greenyellow;
}

.subscribe-invite{
    flex:2;
    display: flex;
    justify-content: center;
}

.subscribe-button{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
