body,html{
    margin: 0;
    padding: 0;
}

div{
    border: 1px solid red;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.page-container div{
    flex-grow: 1;
    padding: 4px;
}

.main-container,
.info-container,
.quote-container,
.subscribe-container{
    display: flex;
    flex-direction: column;
}


.main-container .header-container{
    display: flex;
    border: 1px solid blue;
    flex:1;
}

.main-container .description-container{
    display: flex;
    border: 1px solid blue;
    flex: 2;
}

.info-container .random-info-container{
    border: 1px solid blueviolet;
    flex: 1;

}

.info-container .img-container{
    border: 1px solid blueviolet;
    flex: 2;

}
.quote-container .sentence-container{
    border: 1px solid black;
    flex: 2;
}

.quote-container .origin-container{
    border: 1px solid black;
    flex:1;
}
.subscribe-container .signup-container{
    border:1px solid green;
}
