body,html{
    margin: 0;
    padding: 0;
}

div{
    border: 1px solid red;
    padding-left: 128px;
    padding-right: 128px;
}

img{
    max-width: 100%;
}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.page-container div{
    flex-grow: 1;
    padding: 4px;
}

.main-container,
.info-container,
.quote-container,
.subscribe-container{
    display: flex;
    flex-direction: column;
}


.main-container .header-container{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    flex:1;
}

.main-container .description-container{
    display: flex;
    border: 1px solid blue;
    flex: 2;
}

.info-container .random-info-container{
    border: 1px solid blueviolet;
    flex: 1;
    display: flex;
    justify-content: center;
}

.info-container .img-container{
    border: 1px solid blueviolet;
    flex: 4;
    display: flex;
    justify-content: space-between;
    
}

.images{
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-item{
    border: 1px solid #3882F6;
    border-radius: 8px;
}

.quote-container .sentence-container{
    border: 1px solid black;
    flex: 2;
}

.quote-container .origin-container{
    border: 1px solid black;
    flex:1;
}
.subscribe-container .signup-container{
    border:1px solid green;
}

.header-logo{
    display: flex;
    border: 1px solid orange;
    align-items: flex-start;
}

.header-links{
    display: flex;
    border: 1px solid orange;
    justify-content: space-between;
}

.website-description{
    border: 1px solid greenyellow;
}

.website-image{
    border: 1px solid greenyellow;
}
